
@{
    ViewData["Title"] = "ReportList";
    Layout = "~/Views/Shared/_CRMLayout.cshtml";
}

<h1>Report List</h1>
<a  href="/Report/ExcelStatic/" class="btn btn-outline-warning"> Download Excel Format </a>

